################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/hotel/.vs
/hotel/Server/appsettings.json
