################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/hotel/.vs
/hotel/Server/appsettings.json
/hotel/Server/obj/Debug
/hotel/Server/bin/Debug

/hotel/Client/obj/Debug

/hotel/Shared/obj/Debug