@model Hotel.Shared.Models.Booking

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BId" />
            <div class="form-group">
                <label asp-for="BDate" class="control-label"></label>
                <input asp-for="BDate" class="form-control" />
                <span asp-validation-for="BDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BStayDuration" class="control-label"></label>
                <input asp-for="BStayDuration" class="form-control" />
                <span asp-validation-for="BStayDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCheckingDate" class="control-label"></label>
                <input asp-for="BCheckingDate" class="form-control" />
                <span asp-validation-for="BCheckingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCheckoutDate" class="control-label"></label>
                <input asp-for="BCheckoutDate" class="form-control" />
                <span asp-validation-for="BCheckoutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BAmount" class="control-label"></label>
                <input asp-for="BAmount" class="form-control" />
                <span asp-validation-for="BAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HId" class="control-label"></label>
                <select asp-for="HId" class="form-control" asp-items="ViewBag.HId"></select>
                <span asp-validation-for="HId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EId" class="control-label"></label>
                <select asp-for="EId" class="form-control" asp-items="ViewBag.EId"></select>
                <span asp-validation-for="EId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GId" class="control-label"></label>
                <select asp-for="GId" class="form-control" asp-items="ViewBag.GId"></select>
                <span asp-validation-for="GId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DId" class="control-label"></label>
                <select asp-for="DId" class="form-control" asp-items="ViewBag.DId"></select>
                <span asp-validation-for="DId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BStatus" class="control-label"></label>
                <input asp-for="BStatus" class="form-control" />
                <span asp-validation-for="BStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
