@inherits LayoutComponentBase


<div class="bg-right-top bg-no-repeat" style="width:100%; height:100vh; background-image: url('../img/Liquid.png');">
    <div class="row">
        <div class="col-6 p-0">
            <img class="img-fluid inline-block w-screen" src="../img/register.png" alt="anhnen">
        </div>
        <div class="flex flex-col col-6">
            <a class=""><i class="fa-solid fa-house float-right p-12"></i></a>
            <div class=""> <img class="img-fluid inline-block d-inline-block anhW" src="../img/welcome.png" alt=""></div>
            @Body
        </div>
    </div>
</div>

@code {

}
