<div class="d-flex flex-column flex-shrink-0 p-3 text-black bg-pink col-3" style="height: 100vh">
    <a href=""></a>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="/admin" class="nav-link text-black">
                <i class="fa-solid fa-house fa-sm me-2" style="color: #000000"></i>
                <span>TRANG CHỦ</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/customers" class="nav-link active" aria-current="page">
                <i class="fa-solid fa-users fa-sm me-2" style="color: #000000"></i>
                <span>QUẢN LÝ KHÁCH HÀNG</span>
            </a>
        </li>
        <li>
            <a href="/admin/employees" class="nav-link text-black">
                <i class="fa-solid fa-user fa-lg me-2" style="color: #000000"></i>
                <span>QUẢN LÝ NHÂN VIÊN</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-black">
                <i class="fa-solid fa-file-invoice fa-sm me-2" style="color: #000000"></i>
                <span>QUẢN LÝ HÓA ĐƠN</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-black">
                <i class="fa-solid fa-door-open fa-sm me-2" style="color: #000000"></i>
                <span>QUẢN LÝ PHÒNG</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-black">
                <i class="fa-solid fa-pen fa-sm me-2" style="color: #000000"></i>
                <span> QUẢN LÝ ĐẶT PHÒNG</span>
            </a>
        </li>
        <li>
            <button class="btn-dx d-flex flex-shrink-0">
                <div>ĐĂNG XUẤT</div>
                <div class="icon-dx">
                    <i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i>
                </div>
            </button>
        </li>
    </ul>
</div>
