*[b-sjnbt5uccj] {
    margin: 0;
    overflow: hidden;
    font-family: 'Be Vietnam Pro','Times New Roman';
    color: black;
}

i[b-sjnbt5uccj] {
    font-size: 30px;
    color: white;
}

.login[b-sjnbt5uccj] {
    width: 660px;
    height: 593px;
}

[b-sjnbt5uccj] .input1 {
    border-radius: 30px;
    height: 70px;
    border: 2px solid #789ADE;
}

[b-sjnbt5uccj] .input2{
    color: white;
    background-color: #8699DA;
    width: 100%;
    font-size: 28px;
    border-radius: 30px;
    height: 70px;
}

input[type=radio][b-sjnbt5uccj] {
    color: white;
    background-color: #9EB0EA;
    width: 38px;
    font-size: 28px;
    height: 38px;
}

.tem[b-sjnbt5uccj],
.forget[b-sjnbt5uccj] {
    display: inline-block;
    line-height: 40px;
}

.forget[b-sjnbt5uccj] {
    color: #8699DA;
}
