@page "/changepassword"
@inject ILocalStorageService localStorage
@inject IAuthService auth

@using Hotel.Shared.Models
@using Hotel.Shared.CommonFiles


    <div class="qun-mt-khu-i-mt-khu">
      <img class="login-page-1" alt="" src="./public/doimk/login-page-1@2x.png" />

   
      <img
        class="qun-mt-khu-i-mt-khu-child"
        alt=""
        src="./public/doimk/group-13058@2x.png"
      />

      <img
        class="iconfont-awesome-freesolidh"
        alt=""
        src="./public/doimk/iconfont-awesome-freesolidhhome@2x.png"
        id="iconFontAwesomeFreeSolidH"
      />

      <img class="cho-mng-ch-1" alt="" src="./public/doimk/cho-mng-ch-1@2x.png" />
    <EditForm Model="resetPassword" OnSubmit="HandleSubmit">
     
      <div class="password1">
        <div class="xc-nhn-mt">Mật khẩu</div>
       
            <InputText type="password" name="Password" id="password" class="password-child" @bind-Value="resetPassword.Password" />
           
		</div>
        <div class="password">
       
        <div class="xc-nhn-mt">Xác nhận mật khẩu</div>
            <InputText type="password" name="password_confirmation" id="confirm-password" class="password-child" @bind-Value="resetPassword.ConfirmPassword" />
          
      </div>
		<div class="sign-in-parent">
			
			<button class="sign-in1" id="signIn1" type="submit">
				<div class="i-mt-khu">Đổi mật khẩu</div>
			</button>
		</div>
    </EditForm>
       
    </div>

@code{
    ResetPasswordRequest resetPassword { get; set; } = new ResetPasswordRequest();
    string? token{ get; set; }
    string? email{ get; set; }
    protected override async Task OnInitializedAsync()
    {
        token =await localStorage.GetItemAsync<string>(SD.F_token);
        email = await localStorage.GetItemAsync<string>(SD.F_email);
        resetPassword.Token = token;
    }
    private  async Task HandleSubmit()
    {
        await auth.ResetPassword(resetPassword,email);
        Console.WriteLine("22");
    }




}