@page "/forgot"
@inject IAuthService auth
@inject NavigationManager NavigationManager
@using Hotel.Shared.Models
@using Hotel.Shared.CommonFiles
@inject ILocalStorageService localStorage
<body>
    <div class="qun-mt-khu-email">
        <img class="login-page-1" alt="" src="./public/doimk/login-page-1@2x.png" />

        <div class="input-field-parent">
            <div class="input-field">
                <div class="username">
                    <div class="vui-lng-nhp">Vui lòng nhập email để xác nhận:</div>
                    <input @bind="email" class="username-child" type="email" />
                </div>
            </div>
            <div class="sign-in-parent">
                <button class="sign-in" id="signIn">
                    <div class="hy">Hủy</div>
                </button>
                <button class="sign-in1" id="signIn1" @onclick="handleSubmit">
                    <div class="tip-tc" >Tiếp tục</div>
                </button>
            </div>
        </div>
        <img class="qun-mt-khu-email-child"
             alt=""
             src="./public/doimk/group-13058@2x.png" />

        <img class="iconfont-awesome-freesolidh"
             alt=""
             src="./public/doimk/iconfont-awesome-freesolidhhome@2x.png"
             id="iconFontAwesomeFreeSolidH" />

        <img class="cho-mng-ch-1" alt="" src="./public/doimk/cho-mng-ch-1@2x.png" />
    </div>

    <script>
        var signIn = document.getElementById("signIn");
        if (signIn) {
            signIn.addEventListener("click", function (e) {
                // Please sync "Landing Page - xong - KAnh" to the project
            });
        }

        var signIn1 = document.getElementById("signIn1");
        if (signIn1) {
            signIn1.addEventListener("click", function (e) {
                // Please sync "Landing Page - xong - KAnh" to the project
            });
        }

        var iconFontAwesomeFreeSolidH = document.getElementById(
            "iconFontAwesomeFreeSolidH"
        );
        if (iconFontAwesomeFreeSolidH) {
            iconFontAwesomeFreeSolidH.addEventListener("click", function (e) {
                // Please sync "Landing Page - xong - KAnh" to the project
            });
        }
    </script>
</body>
@code{
    private string? email;
    public string? token { get; set; }
    private async Task handleSubmit()
    {
        token=await auth.ForgotPassword(email);
        await localStorage.SetItemAsync(SD.F_token, token);
        await localStorage.SetItemAsync(SD.F_email, email);
   
    }
}