@page "/successreset"
<body>
    <div class="doi-mat-khau-thanh-cong">
        <div class="frame6">
            <div class="frame7">
                <div class="navigation-header1">
                    <div class="navigation-header-item"></div>
                    <div class="frame8">
                        <div class="ch-logo-vng-1-parent1">
                            <img class="ch-logo-vng-13"
                                 alt=""
                                 src="./public/ch-logo-vng-12@2x.png" />

                            <img class="logo-ko-ch-k-n-13"
                                 alt=""
                                 src="./public/logo-ko-ch-k-n-121@2x.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="chc-mng-qu-container">
                <p class="mi-bn-tip">
                    Chúc mừng quý khách đã đổi mật khẩu thành công!
                </p>
                <p class="mi-bn-tip">Mời bạn tiếp tục tiện ích của Khách sạn</p>
            </div>
        </div>
        <div class="frame9">
            <div class="frame10">
                <img class="stepper-icon1" alt="" src="./public/stepper@2x.png" />

                <div class="i-mt-khu">Đổi mật khẩu thành công!</div>
            </div>
            <div class="frame-frame">
                <div class="frame11">
                    <button class="btn-primary1">
                        <div class="bg1"></div>
                        <div class="back-to-home1">Trở về</div>
                    </button>
                    <img class="group-1-11" alt="" src="./public/group-1-1@2x.png" />
                </div>
            </div>
        </div>
    </div>
</body>

@code {

}
