@model Hotel_Framework_Test.Server.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EId" class="control-label"></label>
                <input asp-for="EId" class="form-control" />
                <span asp-validation-for="EId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EFirstName" class="control-label"></label>
                <input asp-for="EFirstName" class="form-control" />
                <span asp-validation-for="EFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ELastName" class="control-label"></label>
                <input asp-for="ELastName" class="form-control" />
                <span asp-validation-for="ELastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EDesignation" class="control-label"></label>
                <input asp-for="EDesignation" class="form-control" />
                <span asp-validation-for="EDesignation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EContactNumber" class="control-label"></label>
                <input asp-for="EContactNumber" class="form-control" />
                <span asp-validation-for="EContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EEmail" class="control-label"></label>
                <input asp-for="EEmail" class="form-control" />
                <span asp-validation-for="EEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EJoinDate" class="control-label"></label>
                <input asp-for="EJoinDate" class="form-control" />
                <span asp-validation-for="EJoinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EAddress" class="control-label"></label>
                <input asp-for="EAddress" class="form-control" />
                <span asp-validation-for="EAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeId" class="control-label"></label>
                <select asp-for="DeId" class ="form-control" asp-items="ViewBag.DeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HId" class="control-label"></label>
                <select asp-for="HId" class ="form-control" asp-items="ViewBag.HId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
