@page "/admin/guests"

@inject IGuestService GuestService
@inject NavigationManager NavigationManager

<PageTitle>Quản lý khách hàng</PageTitle>

<div class="row container">
    <textarea class="tim col-6 mt-4 ml-4" placeholder="Tìm kiếm"></textarea>
    <div class="col-6 row mt-4">
        <div class="sua col-4 d-inline-block w-2"></div>
        <button class="w-20" @onclick="NavigateBack">Quay lại</button>
        <div class="them col-4 d-inline-block w-2"></div>
        <button class="w-20" @onclick="AddGuest">Thêm</button>
        <div class="xoa col-4 d-inline-block w-2"></div>
        <button class="w-20">Xóa</button>
    </div>
</div>
<!-------------------------------------------------------------------->
<div class="row container">
    <div class="sort mt-4 ml-4">
        <div class="ngay col-3 d-inline-block w-2"></div>
        <span class="w-21">Hôm nay</span>

        <div class="thang col-3 d-inline-block w-2"></div>
        <span class="w-21">Trong tuần</span>

        <div class="nam col-3 d-inline-block w-2"></div>
        <span class="w-21">Trong tháng</span>

        <div class="select-input col-3 d-inline-block w-2"></div>
        <span class="w-21">Loại khách<i class="fa-solid fa-angle-down"></i></span>
        <span><input class="chn-ngy" type="date" /></span>
    </div>
</div>
<!---------------------------------------------------------------------------------->
<div class="row container d-flex flex-column flex-shrink-0 col-9">
    @* <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."> *@

    <table id="myTable">
        <tr class="header">
            <th style="width:20%;">MÃ</th>
            <th style="width:20%;">TÊN KHÁCH HÀNG</th>
            <th style="width:20%;">SĐT</th>
            <th style="width:20%;">Email</th>
            <th style="width:20%;"></th>
        </tr>
        @foreach (var guest in GuestService.Guests)
        {
            <tr>
                <td>@guest.GId</td>
                <td>@guest.GFirstName</td>
                <td>@guest.GSdt</td>
                <td>@guest.GCccd</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowGuest(guest.GId))">Detail</button>
                </td>
            </tr>
        }
    </table>
</div>
<!----------------------------------------------------------------------------------->
<div class="row ">
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a class="active" href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</div>


@code {
    // don't need to wait until everythings is rendered
    protected override async Task OnInitializedAsync()
    {
        await GuestService.GetGuests();
    }
    void ShowGuest(int id)
    {
        NavigationManager.NavigateTo($"admin/guest/{id}");
    }

    void AddGuest()
    {

        NavigationManager.NavigateTo("admin/guest");
    }

    void NavigateBack()
    {
        NavigationManager.NavigateTo("admin");
    }
}


@code {

}
